body {
    background-color: rgb(24, 25, 53);
    color: white;
    text-align: center;
}

#Platlink {
    margin-top: 142px;
}

#tag1 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 62px;
    font-weight: 900;
    line-height: 91.9%;
    letter-spacing: -2%;
}

#tag2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 100px;
    font-weight: 900;
    line-height: 91.9%;
    letter-spacing: -2%;
    background: linear-gradient(to bottom, white 53%, #45A0A4 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#tag3 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 44px;
    font-weight: medium;
    line-height: 30.6%;
    color: #EAECF0;
}

#tag4 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 44px;
    font-weight: medium;
    line-height: 30.6%;
    color: #EAECF0;
}

#tag5 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24pt;
    font-weight: medium;
    line-height: 50px;
    color: #EAECF0;
    width: 1090px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
}

.container {
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 100px;
}

#box {
    width: 237px;
    height: 150px;
    border-radius: 30px;
    background: linear-gradient(to top, #3C3C83 0%, #1C1D3A 100%);
    -webkit-background-clip: content-box;
    background-clip: content-box;
    color: transparent;
}

#tag6 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20pt;
    font-weight: medium;
    padding: 5px;
    color: white;

}

#box1 {
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 100px;
    height: 100px;
    border-radius: 30px;
    background: linear-gradient(to top,#3C3C83 0%,#1C1D3A 100%);
    -webkit-background-clip: content-box;
    background-clip:content-box ;
    color: transparent;

}

#tag7 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20pt;
    font-weight: medium;
    color: white;
    text-align: center;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 5px;
    padding-right: 5px;

}

#tag8{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20pt;
    font-weight: medium;
    line-height: 50px;
    color: #EAECF0;
    margin-top: 116px;
}

#tag9{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 26pt;
    font-weight: medium;
    line-height: 30px;
    color: #EAECF0;
    padding-left: 40px;
 
}